  	@import url('https://fonts.googleapis.com/css?family=Raleway:200');
body{
    margin: 0;
    padding: 0;
}

#box {
  display: block;
  align-items: center;
  justify-content: center;
  height: 150px;
  color: white;
  font-family: 'Raleway';
  font-size: 2.5rem;
  padding-top: 40px;
}
.gradient-border {
  --borderWidth: 3px;

  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#all-data {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#all-data thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

#all-data th,
#all-data td {
    padding: 12px 15px;
}

#all-data tbody tr {
    border-bottom: 1px solid #dddddd;
}

#all-data tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#all-data tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

#all-data tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


#success-data {
    border-collapse: collapse;
    
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#success-data thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

#success-data th,
#success-data td {
    padding: 12px 15px;
}

#success-data tbody tr {
    border-bottom: 1px solid #dddddd;
}

#success-data tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#success-data tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

#success-data tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


#fail-data {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#fail-data thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

#fail-data th,
#fail-data td {
    padding: 12px 15px;
}

#fail-data tbody tr {
    border-bottom: 1px solid #dddddd;
}

#fail-data tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#fail-data tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

#fail-data tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.table-responsive{
	max-height: 30em;
}
.table{
	max-width: 20em;
}

thead th{
	position: sticky;
	top: 0;
	
	z-index: 5;
}

thead th:nth-child(2){
	position: sticky;
	top: 0;
	
	z-index: 6;
}

thead td:nth-child(2){
	position: sticky;
	top: 0;
	
	z-index: 3;
}